@model IEnumerable<ECommerce.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>

    .btn-container {
        display: flex;
    }

    .btnCommon {
        flex: 1;
        margin: 0 4px;
        /* Ensure buttons are the same height */
        height: 45px; /* Adjust as needed */
        width: 180px;
        transform: translateY(-10px);
    }
</style>
<!-- content -->
<section class="">
    <div class="container">
        <div class="row">

            <!-- content -->
            <div class="col-lg-12">
                <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                    <strong class="d-block py-2">@ViewBag.ProductCount Items found</strong>
                    <div class="ms-auto">
                        <select id="selectCat" class="form-select d-inline-block w-auto border pt-1" onchange="categoryFun()">
                            <option value="0" disabled selected>Select Category</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>

                </header>

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                            <div class="card w-100 my-2 shadow-2-strong">
                                <!-- Product Image -->
                                <img src="@item.ImageUrl" alt="@item.ProductName" class="card-img-top" style="height:370px;" />

                                <div class="card-body d-flex flex-column">
                                    <!-- Product Name -->
                                    <h5 class="card-title">@item.ProductName</h5>

                                    <!-- Product Prices -->
                                    <div class="d-flex flex-row">
                                        <h5 class="mb-1 me-1">@item.Price JOD</h5>
                                    </div>

                                    <!-- Card Footer with Buttons -->
                                    <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                        <div class="btn-container">
                                            <form action="/CartItems/AddToCart" method="post" class="d-inline">
                                                <input type="hidden" name="ProductId" value="@item.ProductId" />
                                                <input type="hidden" name="Quantity" value="1" />
                                                <button type="submit" class="btn btnCommon btn-primary add">Add to cart</button>
                                            </form>
                                            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btnCommon btn-primary det" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <hr />

            </div>
        </div>
    </div>
</section>
<!-- content -->

<script>
    function categoryFun() {
        var selectedCategoryId = document.getElementById('selectCat').value;

        if (selectedCategoryId) {
            window.location.href = '/Products/Index/' + selectedCategoryId;
        }
    }

</script>
